    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <!-- hr class="star-light" -->
                        <span class="bio">
                            <p>I am a graduate student in the Computer Science Department at
                                <a href="http://www.cs.cmu.edu/">Carnegie Mellon University</a>,
                                where I am advised by <a href="http://www.cs.cmu.edu/~pavlo/">Andy
                                Pavlo</a>. I am interested in database systems,
                                data management, and machine learning.
                            </p>

                            <p>Before starting my graduate study at Carnegie Mellon University, I finished my
                                Bachelor’s degree in <a href="http://english.pku.edu.cn/">Peking University</a>,
                                majoring in Computer Science and Technology. In PKU, I used to work on data and
                                information management with <a href="http://net.pku.edu.cn/~cuibin/">Prof. Bin Cui</a>.
                            </p>

                        </span>
                    </div>
                    <a href="/cv.pdf" class="btn btn-outline">
                        <i class="fa fa-download"></i> Download CV </a>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <img class="img-responsive" src="img/profile.jpg" alt="">
                </div>
            </div>
        </div>
    </header>
