    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <!-- hr class="star-light" -->
                        <span class="bio">
				<p>I an assistant professor in the <a href="https://cse.engin.umich.edu/">Computer Science and Engineering Division</a> at the <a href="https://umich.edu/">University of Michigan, Ann Arbor</a>.
                                I graduated from <a href="http://www.cs.cmu.edu/">Carnegie Mellon University</a> (CMU)
				with a PhD in Computer Science,
                                fortunately advised by <a href="http://www.cs.cmu.edu/~pavlo/">Andy
                                Pavlo</a>.
				I worked on the Delta Lake/Lakehouse at <a href="https://www.databricks.com/">Databricks</a> before joining UMich.
				My research interests lie in the <b><i>intersection of database management systems (DBMSs) and machine learning (ML)</i></b>,
				especially using ML/AI techniques to automate database administration/tuning to remove human impediments.
				My PhD research focused on the architecture design of
				autonomous DBMSs,
				implemented in an <a href="https://noise.page/">
                                in-memory relational DBMS</a> built from CMU.
                            </p>

                            <p>I finished my
                                Bachelor’s degree 
				in Computer Science and Technology
				at <a href="http://english.pku.edu.cn/">Peking University</a>,
				where I worked on data and
                                information management with <a href="https://cuibinpku.github.io/">Prof. Bin Cui</a>.
                            </p>

			    <p> <b> <font color="#A70D2A"> I am looking for motivated PhD students to join my group at UMich, working on database systems and applied ML for systems. </font></b>
			    If you are interested, please apply to our <a href="https://cse.engin.umich.edu/academics/graduate/phd-in-cse/">CSE PhD program</a> and mention my name in your application. You can also email me if you have specific interests/questions. I may not have time to reply to all the emails, but I will read all of them and try to respond. 
			    <!--Prospective students may contact me (linmacse (at) umich.edu) with your CV and transcripts.-->
			    </p>

                        </span>
                    </div>
                    <a href="{{ "/cv.pdf" | prepend: site.baseurl }}" class="btn btn-outline">
                        <i class="fa fa-download"></i> Download CV </a>
                    <a href="{{ "/research.pdf" | prepend: site.baseurl }}" class="btn btn-outline">
                        <i class="fa fa-download"></i> Research Statement </a>
                    <a href="{{ "/teaching.pdf" | prepend: site.baseurl }}" class="btn btn-outline">
                        <i class="fa fa-download"></i> Teaching Statement </a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <img class="img-responsive" src="img/profile.jpg" alt="">
                </div>
            </div>
        </div>
    </header>
