    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <!-- hr class="star-light" -->
                        <span class="bio">
                            <p>I am a graduate student in the Computer Science Department at
                                <a href="http://www.cs.cmu.edu/">Carnegie Mellon University</a>,
                                where I am fortunately advised by <a href="http://www.cs.cmu.edu/~pavlo/">Andy
                                Pavlo</a>.
                                My research interest is in database systems,
                                data management, and machine learning.
                                My current research focus is the <i><b>architecture design for Self-Driving
                                    Database Systems</b></i>, implemented in a <a
                                        href="https://github.com/cmu-db/terrier">new
                                in-memory relational DBMS</a> from CMU.
                            </p>

                            <p>Before starting my graduate study at CMU, I finished my
                                Bachelor’s degree at <a href="http://english.pku.edu.cn/">Peking University</a>,
                                majoring in Computer Science and Technology. In PKU, I used to work on data and
                                information management with <a href="http://net.pku.edu.cn/~cuibin/">Prof. Bin Cui</a>.
                            </p>

                        </span>
                    </div>
                    <a href="{{ "/cv.pdf" | prepend: site.baseurl }}" class="btn btn-outline">
                        <i class="fa fa-download"></i> Download CV </a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <img class="img-responsive" src="img/profile.jpg" alt="">
                </div>
            </div>
        </div>
    </header>
